page-home {

  .list-md ion-item-options .button {
    width: 45px !important;
    height: 45px !important;
    top: 6px !important;
    border-radius: 50% !important;
    margin-right: 5px !important;
  }

}
